<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1_img">
                        <img src="images/profile.png" width="156px" height="142px" alt="">
                    </div>
                    <div class="left_1_name"> <%=user.name%></div>
                    <div class="left_1_industry"> <%=user.profession%></div>
                    <div class="left_1_icon">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-facebook.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-instagram.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-twitter.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-linkedin.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-Youtube.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-dribbble.svg" class="icon-1">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="age">
                        <div class="age_1">Age:</div>
                        <div>20</div>
                    </div>
                    <div class="age bir">
                        <div class="age_1">Residence:</div>
                        <div>S.Korea</div>
                    </div>
                    <div class="age bir">
                        <div class="age_1">Freelance:</div>
                        <div class="avia">Avialable</div>
                    </div>
                    <div class="age bir">
                        <div class="age_1">Address:</div>
                        <div>S.Korea, Busan</div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="lang">Languages</div>
                    <div class="til">
                        <div class="kkk">
                            <div>Uzbek</div>
                            <div>100%</div>
                        </div>
                        <div class="line">
                            <div class="line_1 w-100"></div>
                        </div>
                    </div>
                    <div class="til">
                        <div class="kkk">
                            <div>Korean</div>
                            <div>80%</div>
                        </div>
                        <div class="line">
                            <div class="line_1 w-80"></div>
                        </div>
                    </div>
                    <div class="til">
                        <div class="kkk">
                            <div>English</div>
                            <div>60%</div>
                        </div>
                        <div class="line">
                            <div class="line_1 w-60"></div>
                        </div>
                    </div>
                </div>

                 <div class="marginer_2"></div>


                 <!-- left_4 !!!!!!!!!!!!!! -->
                


                <div class="left_4">

                    <div class="lang">Skills</div>
                    <div class="til">
                        <div class="kkk">
                            <div>HTML</div>
                            <div>90%</div>
                        </div>
                        <div class="line">
                            <div class="line_1 w-90"></div>
                        </div>
                    </div>
                    <div class="til">
                        <div class="kkk">
                            <div>CSS</div>
                            <div>85%</div>
                        </div>
                        <div class="line">
                            <div class="line_1 w-85"></div>
                        </div>
                    </div>
                    <div class="til">
                        <div class="kkk">
                            <div>Js</div>
                            <div>80%</div>
                        </div>
                        <div class="line">
                            <div class="line_1 w-80"></div>
                        </div>
                    </div>

                    <div class="til">
                        <div class="kkk">
                            <div>PHP</div>
                            <div>75%</div>
                        </div>
                        <div class="line">
                            <div class="line_1 w-75"></div>
                        </div>
                    </div>

                    <div class="til">
                        <div class="kkk">
                            <div>Word Press</div>
                            <div>85%</div>
                        </div>
                        <div class="line">
                            <div class="line_1 w-85"></div>
                        </div>
                    </div>
                </div>
             


                <div class="left_5">
                    <h4>Exstra Skills</h4>

                    <div class="bot">
                        <img src="icon/Icons.png" alt="">
                        <p class="p_5">Bootstrap, Materialize</p>
                    </div>
                    <div class="www">
                        <img src="icon/Icons.png" alt="">
                        <p class="p_5">Stylus, Sass, Less</p>
                    </div>
                    <div class="www">
                        <img src="icon/Icons.png" alt="">
                        <p class="p_5">Gulp, Webpack, Grunt</p>
                    </div>
                    <div class="www">
                        <img src="icon/Icons.png" alt="">
                        <p class="p_5">Git Knowledge</p>
                    </div>


                </div>
            </div>  


            <!-- left_frem tugadi !!!!!!!!!!! -->

            <div class="midd_frame">

                <div class="midd_yuqori">
                    <div class="midd_yuqori_text">
                        <h1 class="midd_h1">Doctor neurologists in OHSO Hospital</h1>
                        <p class="midd_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Neque quam debitis eum distinctio incidunt! Quos quaerat quod sequi, 
                            molestiae natus expedita itaque iste sit!
                        </p>
                        <button class="midd_btn">HIRE ME →</button>
                    </div>
                    <div class="midd_yuqori_img">
                        <img src="images/Your Image 1.png" alt="">

                    </div>
                </div>

                <!-- midd_yuqori TUGADI !!!!!!!!!!!!!!!!!! -->


                <div class="midd_past">

                    <div class="past_text">
                        <div class="past_h1"><h1 class="h1_h1">My Services</h1>
                        </div>
                        <div class="past_p"><p class="p_p">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                             Quasi amet dicta dolorem accusamus obcaecati! Ipsam iusto 
                             voluptates harum sint enim voluptatem doloremque!</p>
                            </div>
                    </div>

                    <div class="past_logo1">

                        <a href="#">
                            <div class="web info">
                            <img class="past_icon" src="icon/Icons_coding.png" alt="">
                            <h3 class="logo_h3">Web Delelopment</h3>
                            <p class="p_blog">Blog, E-ommerce</p>

                        </div>
                        </a>
                        <a href="#">
                            <div class="ux info">
                            <img src="icon/Icons_illustration.png" alt="">
                            <h3 class="logo_h3">UI/UX Design</h3>
                            <p class="p_blog">Mobile App, Website Design </p>
                            
                        </div>
                        </a>
                        <a href="#">
                         <div class="sound info">
                            <img src="icon/Icons_Microphone.png" alt="">
                            <h3 class="logo_h3">Sound Design</h3>
                            <p class="p_blog">Voice Over, Beat Making</p>
                        </div>
                        </a>
                    </div>

                    <div class="past_logo2">
                        <a href="#">
                            <div class="mobile info">
                            <img src="icon/Icons_game-development.png" alt="">
                            <h3 class="logo_h3">Mobile App Design</h3>
                            <p class="p_blog">Character Design, Back End</p>
                        </div>
                        </a>
                        <a href="#">
                            <div class="photo info">
                            <img src="icon/Icons_Photographer.png" alt="">
                            <h3 class="logo_h3">Photography</h3>
                            <p class="p_blog">Portrait, Product Photography</p>
                        </div>
                        </a>
                        <div class="adver info">
                            <h3>Advertising</h3>
                            <p>Lorem ipsum dolor sit amet consectetur 
                                adipisicing elit. Ea vero eligendi cum 
                                natus perspiciatis.</p>
                            <a class="a_order" href="#">  <p class="p_order">ORDER NOW  ></p>    </a>
                        </div>
                    </div>

                </div>

              

            </div>

              <!-- midd_frame TUGADi !!!!!!!!!!!!!! -->

              <div class="right_frame">

                <div class="moon">
                    <a href="#">
                        <img src="icon/oy.png" alt="">
                    </a>
                </div>

                <div class="home2">
                    <a href="#">
                        <img src="icon/home2.png" alt="">
                    </a>
                </div>

                <div class="home">
                    <a href="#">
                        <img src="icon/home.png" alt="">
                    </a>
                </div>

                <div class="file">
                    <a href="#">
                        <img src="icon/file.png" alt="">
                    </a>
                </div>

                <div class="user">
                    <a href="#">
                        <img src="icon/user.png" alt="">
                    </a>
                </div>

                <div class="sumka">
                    <a href="#">
                        <img src="icon/sumka.png" alt="">
                    </a>
                </div>

                <div class="pat">
                    <a href="#">
                        <img src="icon/pat.png" alt="">
                    </a>
                </div>

                <div class="sms">
                    <a href="#">
                        <img src="icon/sms.png" alt="">
                    </a>
                </div>



              </div>





        </div>
    </div>
</body>
</html>
