<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
              <div class="left_1">
                <div class="left_1_img">
                    <img src="images/profile.png" width="156px" height="142px" alt="">
                </div>
                <div class="left_1_name"> <%=user.name%></div>
                <div class="left_1_industry"> <%=user.profession%></div>
                <div class="left_1_icon">
                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Icons-facebook.svg" class="icon-1">
                        </div>
                    </a>
                      <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Icons-instagram.svg" class="icon-1">
                        </div>
                    </a>
                      <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Icons-twitter.svg" class="icon-1">
                        </div>
                    </a>
                      <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Icons-linkedin.svg" class="icon-1">
                        </div>
                    </a>
                      <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Icons-Youtube.svg" class="icon-1">
                        </div>
                    </a>
                      <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Icons-dribbble.svg" class="icon-1">
                        </div>
                    </a>
                </div>
              </div>
              <div class="marginer"></div>

              <div class="left_2">
                   <div class="age">
                    <div class="age_1">Age:</div>
                    <div>20</div>
                   </div>
                   
                   <div class="age bir">
                       <div class="age_1">Residence:</div>
                    <div>S.Korea</div>
                   </div>

                   <div class="age bir">
                    <div class="age_1">Freelance:</div>
                    <div class="avia">Avialable</div>
                   </div>

                   <div class="age bir">
                    <div class="age_1">Address:</div>
                    <div>S.Korea, Busan</div>
                   </div>
              </div>
              <div class="marginer"></div>
              
              <div class="left_3">
                <div class="lang">Languages</div>
                <div class="til">
                    <div>Uzbek</div> <div>100%</div>
        
                </div>
                <div class="til">
                     <div>Korean</div> <div>80%</div>
                </div>
                <div class="til">
                     <div>English</div> <div>60%</div>
                </div>  
              </div>
              <div class="marginer"></div>

              
              <div class="left_4"></div>
              <div class="marginer"></div>
              <div class="left_5"></div>
              <div class="marginer"></div>
            </div>
            <div class="midd_frame"></div>
            <div class="right_frame"></div> 
        </div>
    </div>
</body>

</html>